:root {
  --navbar-height: 4rem;
  --sidebar-width: 18rem;
  --sidebar-padding-top: 2rem;
  --conversations--width: 20rem;
}

* {
  box-sizing: border-box;
}

a {
  color: #494949;
}

input, select {
  height: 2.1rem;
}

.user-profile-post:hover {
  border: 1px solid gainsboro;
}

a:hover {
  text-decoration: none;
}


.flash-messages {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.flash-messages .message {
  margin-bottom: 5px;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  width: 50rem; 
}


/* create a post styling */

.top-line {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 149, 0);
  z-index: 9999;
}


.creator-container {
  background-color:#ffffff;
  padding: 20px;
}

/* login styling */

.login-body {
  flex-direction: row;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #eeeeee;
  font-family: Arial, sans-serif;
}

.login-container {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.login-logo {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input, .login-button {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.login-input[type="checkbox"] {
  margin-top: 5px;
}

.login-body a {
  color: #0a95ff;
  text-decoration: none;
  font-size: 12px;
}

.login-button {
  background-color:#ff9500;
  color: white;
  border: none;
  cursor: pointer;
}

.login-button:hover {
  background-color:#e65d03;
}

.login-footer {
  margin-top: 50px;
}


/* navbar styling */

.navbar {
  height: var(--navbar-height);
  position: fixed; /* Add this line */
  top: 0; /* Add this line */
  width: 100%; /* Add this line */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #fff;
  padding: 1px 26px;
  border-bottom: 1px solid gainsboro;
  z-index: 100;
}

#emojiContainer {
  position: relative;
  display: inline-block;
}

#emoji-icon {
  cursor: pointer;
  margin: 0;
  margin-right: 1rem;
}

emoji-picker {
  --background: white;

  display: none;
  position: absolute;
  top: 6.5rem;
  left: 61.5rem;
  z-index: 1000;  /* Ensuring the picker displays above other content */
}
.navbar .logo {
  width: 150px;
  height: auto;
}

.navbar .search-bar {
  position: relative;
  width: 45%;
  margin: 0 auto;
  
}

.navbar .search-bar input {
  width: 100%;
  padding: 5px 15px 5px 35px;
  border-radius: 25px;
  border: none;
  border: 1px solid gainsboro;
}

.navbar .search-bar input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.navbar .search-bar .fa-search {
  position: absolute; 
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  margin-left: 10px;
}

.navbar .profile {
  display: flex; /* Display the icons and the profile image inline */
  align-items: center; /* Align the items vertically */
}

.navbar .profile i {
  transform: scale(1.3);
  margin-bottom: 0;
  margin-right: 2rem; /* Add some space between the icons */
}


.navbar .profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.navbar .profile-pic img {
  width: 100%;
  height: auto;
}

.profile-dropdown {
  color: black;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 200px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  padding: 12px;
  border-radius: 4px;
}

.profile-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.profile-dropdown a:hover {
  background-color: #ddd;
}

.profile-dropdown .header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.profile-dropdown .header img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.profile-dropdown .logout-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-dropdown .logout-btn i {
  margin-right: 8px;
}

.notif-dropdown {
  color: black;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 25vw;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  border-radius: 4px;
  max-height: 50vh;
  overflow-y: hidden; /* Hide overflow on this element */
}

.notif-container {
  max-height: calc(50vh - 40px); /* Subtracting an approximate height of h5. Adjust as needed */
  overflow-y: scroll;
}

.notif-dropdown p {
  font-weight: bolder;
  margin: 0;
  padding: 5px 12px;
}


.notification-message {
  border-top: 1px solid rgb(195, 192, 192);
  padding: 12px;
}

body {
  padding-top: 70px;
  background-color: #e6e6ea;
}

i {
  color: rgb(57, 62, 88);
  transform: scale(1.5);
  margin-right: 20px;
  transition: transform 0.2s ease-in-out;
}

a:hover i {
  transform: scale(1.6);
}

.notification {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -0.6rem;
  right: 1rem;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.35rem;
  font-size: 12px;
}

.notification.new .badge {
  visibility: visible;
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* wrapper styling */
.wrapper {
  display: flex;
  flex-direction: row;
}

/* sidebar styling */
.sidebar {
  position: fixed;
  top: var(--navbar-height);;
  bottom: 0;
  background-color: #e6e6ea;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px 20px;
  padding-top: var(--sidebar-padding-top);
  width: var(--sidebar-width); /* You may have to specify a width for your sidebar */
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar a {
  color: #4f4f4f;
  display: block;
  font-size: 16px;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.sidebar i {
  transform: scale(1.1);
  margin: 0;
}

.sidebar span {
  margin-left: 20px;
}

.sign-up-info {
  display: flex;
  margin-bottom: 20px;
}


#sidebar-icon-profile {
  margin-top: 9px;
  padding: 0;
}



.sidebar .sidebar-option {
  margin-left: 10px;
  display: none;
}

.sidebar ul li a.active{
  font-weight: bold;
}

.sidebar ul li a:hover {
  background-color: rgba(154, 154, 154, 0.138);
  color: #161616;
}





/* main content styling */
.main-content {
  width: 60rem;
  overflow-y: scroll;
  margin-left: var(--sidebar-width); 
  padding-top: var(--sidebar-padding-top);
}


/*** Styling for displaying a material (a single material, not all materials) ***/

/* Main container */

.create-btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(37 99 235);
  color: #fff;
  text-decoration: none;
}

.create-btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgb(42, 142, 229);
}

.submit-btn-orange {
  background-color: orange;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
}

.paginate-btn {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #00000014;
  background-color: #fff;
  color: #252525;
  text-decoration: none;
}

.paginate-btn:hover {
  background-color: #49494944;
  text-decoration: none;
}

.material-container {
  background-color: white;
  border: 1px solid gainsboro;
  margin: 0 auto;
  max-width: 50rem;
  padding: 20px;
  border-radius: 25px;
}

/* Header */
.material-container .header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.material-container .profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.material-container .username {
  font-weight: bold;
}

.material-container .date {
  color: gray;
}

/* Title */
.material-container .title {
  font-weight: bold;
  margin-bottom: 30px;
}

/* Content */
.material-container .content {
  margin-bottom: 170px;
}

/* Like button */
.material-container .fa-regular {
  margin: 0;
  padding-right: 5px;
  margin-bottom: 10px;
}

.uploads {
  margin-top: 20px;
}

.uploads a{
  text-decoration: none;
}

.attachment-count {
  margin-left: 5px;
  color: #888;
}

.attachment {
  display: flex;
  align-items: center;
}

.attachment:hover {
  background-color: #ebebeb;
}


.attachment-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.attachment-info {
  display: flex;
  flex-direction: column;
}

.attachment-filename {
  font-weight: bold;
  margin-bottom: 5px;
}

.attachment-size {
  color: #888;
  font-size: 12px;
}


.material-container .like-count {
  color: gray;
}

/* Tags */
.material-container .tag {
  color: #39739d;
  background-color: #bae0fc;
  padding: 5px;
  border-radius: 10px;
}

/* Footer */
.material-container .footer {
  border-top: 1px solid rgb(216, 216, 216);
  margin-top: 20px;
}

/* Comments */

/* Comment form */
.material-container .comment-form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.material-container .comment-profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-container:hover .fa-ellipsis {
  display: flex;
}

.comments .comment-container {
  display: flex;
  flex-direction: row;
}

.paginate-icon-container {
  color: #999;
}

.paginate-icon-container:hover {
  cursor: pointer;
}

.comment-container .user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-container .user-info {
  display: flex;
  flex-direction: column;
  
}

.comment-container .header {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
}

.comment-container .footer {
  display: flex;
  flex-direction: row;
  margin: 0;
  border: none;
  margin-bottom: 15px;
}

.comment-container .user-info .username {
  font-size: smaller;
  font-weight: bold;
}

.comment-container .date {
  font-size: 12px;
  color: #999;
  margin-right: 10px;
}

.comment-container .reply-btn {
  font-size: 12px;
  color: #999;
  margin-right: 10px;
}

.comment-container-hidden {
  display: none;
}

.comments-replies {
  margin-top: 14px;
}

.show-replies-btn {
  font-size: 12px;
  color: #676767;
  margin-right: 0;
  margin-bottom: 5px;
}

.show-replies-btn:hover {
  cursor: pointer;
}

.comment-container .reply-btn:hover {
  cursor: pointer;
}

.comment-container .like-btn {
  font-size: 12px;
  color: #999;
  margin-left: auto;
}

.comment-container .like-icon {
  background-image: url('path-to-like-icon.png');
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(0.75);
}

.material-comment-form {
  width: 100%;
}

.material-comment-field {
  display: flex;
  align-items: center;
  width: 100%;
  
  border-radius: 25px;
  background-color: #f2f2f2;
  padding: 0 10px;
}

.material-comment-field-profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.material-comment-field-input {
  resize: none;
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 25px;
  padding: 10px;
  font-size: 16px;
}

.material-comment-field-submit {
  
  border-radius: 50%;

  margin-left: 10px;
  border: none;
  outline: none;
 
}

.material-comment-field-submit::before {
  content: "\f054";
  font-family: FontAwesome;
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Styling for displaying posts */

.posts {
  border-radius: 20px;
  margin: 0 auto;
  width: 35rem;
}

.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.post-form-container {
  height: auto;
  overflow-y: auto;
  background-color: #fff;
  resize: none;
  padding: 15px;
  border-radius: 20px;
}

.post-form-container textarea {
  padding-bottom: 30px;
}

.post-form-header {
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
}

.post-form-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.post-form-footer #submit {
  padding: 5px 10px;
  border: none;
  background-color: #ffaa00;
  color: #ffffff;
  border-radius: 15%;
}

.post-form-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.announcement-bar-entry {
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid gainsboro;
}

.announcement-bar-container {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.post-announcement-header {
  display: flex;
}



.sidebar-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 29px;
}

.sidebar-i-profile {
  padding: 0;
}

.announcementbar-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.post {
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 20px;
  padding: 15px;
}

.post-form-container textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding-left: 10px;
  resize: none;
  outline: none;
}


.post a, .material-container a {
  display: flex;
  text-decoration: none;
  color: #1d2024;
  margin-right: 5px;
}

.post span {
  margin-right: 5px;
}

.post-header {
  align-items: center;
  display: flex;
}

.post-username {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.post-date {
  font-size: 0.8rem;
  margin: 0;
}

.post-content {
  padding-top: 10px;
}

.post-footer {
  padding-top: 10px;
  border-top: 1px solid rgb(216, 216, 216);
 
}

.post-likes {
  font-size: 0.8rem;
}

.comment-form {
  display: flex;
}

.comment-form textarea::placeholder{
  color: #999;
}

.posts icon:hover {
  color: #959494;
}

.fa-solid {
  cursor: pointer;
  transform: scale(1.5);
}

.fa-regular {
  cursor: pointer;
  transform: scale(1.5);
  margin-bottom: 10px;
  margin-right: 2px;
}

.material-post-comment-info .fa-regular {
  transform: scale(1);
}

.material-post-tags {
  display: flex;
}

.material-post-tags .tag {
  color: #39739d;
  background-color: #bae0fc;
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
  margin-right: 4px;
}

.fa-regular:hover {
  color: #959595;
}

.post-comments {
  flex-grow: 1;
}

.lounge-comment-field {
  resize: none;
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  width: 100%
}

.post-comments-button {
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
  font-weight: bold;
  outline: none; /* Remove outline on click or focus */
}

.comments-list {
  padding: 0;
}

.comment {
  font-size: smaller;
  list-style: none;
}

.post-profile-pic {
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%; /* Make the picture circular */
  background-color: #030303; /* Add a background color to the profile picture */
}

.like-counter {
  cursor: pointer;
}

.fa-ellipsis {
  margin-left: auto;
  display: flex;
  align-items: center ;
  cursor: pointer;
}

.footer .fa-ellipsis {
  display: none;
  color: #494949;
  margin-left: 5px;
  transform: scale(1.05);
  align-items: center ;
  cursor: pointer;
}

.fa-ellipsis:hover {
  color: #b0b0b0;
}

/* likes pop up style */

.post-editor {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 5px; 
  width: 33vw;
  height: 33vh;
  z-index: 9999;
  transition: transform 0.3s ease;
}

.post-editor textarea {
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}

.likes-popup, .options-popup, .options-popup-secondary {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  align-items: center;
  z-index: 9999;
  transition: transform 0.3s ease;
}


.options-popup div {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 90px;
  padding-right: 90px;
  border-bottom: 1px solid gainsboro;
}

.options-popup div:hover {
  cursor: pointer;
}

.likes-popup h3 {
  color: #030303;
}

.likes-content {
  color: #fff;
}

.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-list li {
  margin-bottom: 10px;
}

.user-info a {
  text-decoration: none;
  color: #494949;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.follow-button {
  background-color: #3897f0;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}


/* overlay-bar styling */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9998;
  display: none;
}

/* freeze background scroll when overlay is played */

.body-no-scroll {
  overflow: hidden;
}

/* announcement-bar styling */

.announcement-bar {
  margin-right: 4rem;
  padding-left: 20px;
  padding-top: var(--sidebar-padding-top);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  flex: 30%;
}

.announcement-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.announcement-bar li {
  margin-bottom: 5x;
  margin-top: 5px;
}

.announcement-bar a {
  color: #0074cc;
  display: block;
  font-size: 16px;
  text-decoration: none;
}

.announcement-bar ul li a:hover {
  color: #a0a0a0;
}

/* styling for hall of fame page */

/* User container */
.user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 40px;
}

/* Profile picture */
.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* User info */
.user-info h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.user-info h2:hover {
  color: #0077CC;
}

.user-info p {
  margin: 5px 0;
  color: gray;
}

/* User list */
.users-list {
  display: flex;
  flex-wrap: wrap;
}

/* Pagination */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination a,
.pagination .current-page {
  padding: 5px 10px;
  margin-right: 5px;
  color: #0077CC;
  text-decoration: none;
  border: 1px solid #0077CC;
  border-radius: 3px;
}

.pagination .current-page {
  background-color: #0077CC;
  color: white;
}

.pagination .ellipsis {
  margin-right: 5px;
}


/* style for displaying all materials for a grade/catergory */

.materials-nav, .user-filters {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 15px;
}

.materials-nav a, .user-filters a {
  color: #757575;
  border-radius: 10px;
  text-decoration: none;
  padding: 5px;
  margin-right: 5px;  
}

#questions-filter-nav a {
  color: #757575;
  border-radius: 10px;
  text-decoration: none;
  padding: 5px;
  margin-right: 5px; 
}

#questions-filter-nav .active {
  color: white;
}

#questions-filter-nav {
  margin-left: 15px;
}

.user-filters a.active {
  color: white;
  background-color: orange;
  border-radius: 10px;
  text-decoration: none;
  padding: 5px;
  margin-right: 5px;
}

.user-filters a.active:hover {
  color: white;
  background-color: #e66312;
  border-radius: 10px;
  text-decoration: none;
  padding: 5px;
  margin-right: 5px;
}

.materials-nav a:hover, .user-filters a:hover {
  color: rgb(27, 26, 26);
  background-color: #d1d1d1a5;
}

.material-posts {
  margin-bottom: 50px;
}

.materials-filters {
  padding-left: 20px;
  margin-bottom: 20px;
}

.material-post-container {
  display: flex;
  align-items: center;  
  padding: 12px 20px;
  background-color: #ffffff;
  border-top: solid 1px rgb(200, 200, 200);
}

.material-posts a {
  color: #0e0e0e;
  text-decoration: none;
}

.material-posts a:visited {
  color: grey;
}

.material-post-container:hover {
  background-color: rgba(133, 156, 182, 0.138);
  color: #161616;
  
}

.material-post-header {
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  align-items: baseline;
}

.filter-select {
  margin-right: 5px;
  padding: 0.315rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #8e9397;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-nav {
  display: flex;
  align-items: center;
}

#search-filter-nav {

}

#questions-filter-nav {
  
}

.search-nav a {
  color: #383838;
  border-radius: 4rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-right: 20px;  
}

.search-nav a:hover {
  background-color: rgb(238, 238, 238);
}

.search-nav .active {
  background-color: orange;
  color: white;
  border-radius: 4rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-right: 20px;  
}

.search-nav .active:hover {
  background-color: rgb(255, 153, 0);
}

.search-result-container {
  background-color: white;
}

.filter-select:focus {
  outline: none;
}

.filter-select:hover {
  background-color: #efefef;
  cursor: pointer;
}

.select-options {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px;
}

.select-options a {
  display: block;
  padding: 8px 14px;
  color: black;
  text-decoration: none;
}

.select-options a:hover {
  background-color: #f1f1f1;
}

.adv-filter {
  border-radius: 10px;
  padding: 5px;
}

.adv-filter:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.material-post-profile-picture {
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  border-radius: 50%;

}

.material-post-grade {
  margin-right: 10px;
}

.material-post-title {
  font-weight: bold;
  margin-right: 10px;
}

.material-post-footer {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  justify-content: flex-start;
  align-items: center;
}

.material-post-footer i {
  margin-bottom: 0
}


.material-post-date {
  font-size: 12px;
  color: gray;
  margin-right: 10px;
}

.material-post-author {
  font-size: 12px;
  color: gray;
}

.material-post-icon {
  margin-right: 5px;
}

.material-post-likes,
.material-post-comments {
  font-size: 12px;
  color: gray;
  margin-right: 5px;
}

.question-post-title {
  font-size: medium;
  font-weight: bolder;
}

.question-post-content {
  font-size: smaller;
}

/* style for users profile page */

.user-page-container {
  background-color: white;
  margin: 0 auto  ;
  width: 40rem;
  border-radius: 15px;
}

.user-page-container .post {
  border-radius: 0px;
  margin: 0;
}

.user-page-profile-header {
  padding: 15px;
  display: flex;
  align-items: center;
}

.user-page-profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 4rem;
}

.user-page-profile-info {
  flex-grow: 1;
}

.user-page-user-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-page-username {
  margin: 0;
  margin-right: 20px;
}

.user-page-follow-button,
.user-page-message-button {
  margin-top: 10px;
  background-color: white;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid gainsboro;
}

.user-page-stats {
  display: flex;
  align-items: center;
  margin-top: 20px; 
}

.user-about {
  margin-top: 20px;
}

.user-page-follow-button {
  margin-right: 10px;
}


.user-page-stat {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user-page-stat h3 {
  margin-right: 5px;
}

.user-page-count {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.user-page-label {
  font-size: 12px;
}

.about-section {
  margin-top: 20px;
}

.about-section h2 {
  margin: 0;
}

.about-section p {
  margin: 10px 0;
}


/****** inbox styling  ******/ 


/* Conversations sidebar */

.conversations {
  background-color: white;
  display: flex;
  border-right: 1px solid gainsboro;
  flex-direction: column;
  height: 90vh;
  overflow-y: auto;
  width: var(--conversations--width);
}

.conversation {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  padding-left: 30px;
}

.conversation-unread {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  padding-left: 30px;
  background-color: gainsboro;
}

.conversations h5 {
  padding-top: 10px;
  padding-left: 30px;
}

.conversation:hover {
  background-color: #f5f5f5;
}

.conversation-img {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 5px;
}

.header-img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

/* Message display */
.message-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 10px;
  overflow-y: auto;
  background-color: white;
}

.message {
  border-radius: 18px;
  background-color: rgb(239, 239, 239);
  padding: 10px;
  margin-bottom: 5px;
}
.message-sent {
  border-radius: 18px;
  background-color: orange;
  text-align: right;
  padding: 10px;
  margin-bottom: 5px;
}

.message-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 8px;
}

.message-timestamp {
  display: flex;
  align-items: flex-end;
  font-size: smaller;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 5px;
}

.message-sent-container {
  display: flex;
  justify-content: flex-end;
}

.inbox-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inbox-center i {
  transform: scale(3);
}

/* Message input */
.message-input {
  position: fixed;  
  bottom: 0;
  width: calc(100% - var(--conversations--width));
  margin-bottom: 10px;
}

.message-input-border {
  display: flex;
  width: 80%;
  padding: 9px;
  border: 1px solid gainsboro;
  border-radius: 50px;
}

.inbox-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inbox-input {
  flex: 1;
  border: none;
  outline: none;
}

.inbox-submit {
  background-color: white;
  border-radius: 15px;
  border: none;
}

.inbox-header {
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: 1px solid gainsboro;
}


/* Footer for bottom of page containing copyright and other shtuff */

footer {
  background-color: rgba(35, 38, 41, 0);
  width: 100%;
  height: 50px; /* Adjust the value as needed */
}

.footer-content {
  color: #9199a1;
  text-align: center;
  padding: 15px;
}


.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.event {
  padding-bottom: 10px;
  border-radius: 20px;
}

.event:hover {
  background-color: #eaeaea;
}

.event p {
  padding-left: 20px;
  color: #aaaaaa;
  margin: 0;
}

#map {
  width: 100%;
  height: 400px;
}

.event img {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

.event h2 {
  margin-top: 10px;
}

.event-date,
.event .username,
.event-type,
.event-status {
  font-weight: bold;
}

.loader-container {
  display: flex;
  justify-content: center;
}


.loader {
  margin-top: 1rem;
  position: relative;
  width: 32px;
  height: 32px;
}

.loader::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #d33f3f;
 
  border-radius: 0 0 50px 50px;
  animation: move 0.5s linear infinite alternate;
}
.loader::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  background: orange;
  width: 24px;
  height: 24px;
  transform: translateX(-50%) rotate(0deg);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% { transform: translateX(-50%) rotate(360deg)}
}
@keyframes move {
  0% { transform: rotate(10deg)}
  100% { transform: rotate(-10deg)}
}
      

.user-grid-container {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  width: 60vw;
  padding: 20px;
  overflow-x: auto;
}

.user-grid-item {
  font-size: small;
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.user-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name, .user-reputation, .user-duration {
  margin: 10px 0;
}
