{% extends "layout.html" %}
{% block title %}Bibimhak - Add a material{% endblock %}
{% block content %}
    <div class="creator-container">
        {% if level == 'question' %}
            <h3>Ask a question</h3>
        {% else %}
            <h3>Add a material for {{ legend }}</h3>
        {% endif %}
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div>
                    {% if form.title.errors %}
                        {{form.title(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg")}}
                {% endif %}
                </div>
                   
                <div>
                    {{ ckeditor.create() }}
                </div> 
                <div> {% if form.grade.errors %}
                    {{form.grade(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.grade.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.grade(class="filter-select")}}
                {% endif %}
                {% if level != 'question' and level != 'community' %}
                    {% if form.publisher.errors %}
                        {{form.publisher(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.publisher.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.publisher(class="filter-select")}}
                    {% endif %}

                    {% if form.lesson.errors %}
                        {{form.lesson(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.lesson.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lesson(class="filter-select")}}
                    {% endif %}
                        {% if form.material_type.errors %}
                            {{form.material_type(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.material_type.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.material_type(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% endif %}
                <div>
                    {% if form.files.errors %}
                        {{form.files(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.files.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.files(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
            </fieldset>
            <div style="display: flex; justify-content: flex-end;">
                {{ form.submit(class="submit-btn-orange") }}
            </div>
        </form>
    </div>
    {{ ckeditor.load(pkg_type='basic') }}
    {{ ckeditor.config(name='content')}}
    <script src="{{ url_for('static', filename='js/create_material.js') }}"></script>
{% endblock content %}