{% extends "layout.html" %}
{% block title %}Bibimhak - Create a meeting{% endblock %}
{% block content %}
    <legend class="border-bottom mb-4">Create a Meeting</legend>
    <div class="creator-container">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                {{ form.lat }}
                {{ form.lng }}
                <div>
                    {% if form.title.errors %}
                        {{form.title(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg")}}
                    {% endif %}
                </div>

                <div style="display: flex;">

                    {% if form.start_date.errors %}
                    {{form.start_date(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.start_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.start_date(class="form-control form-control-lg") }}
                    {% endif %} 

                    {% if form.start_time.errors %}
                        {{form.start_time(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.start_time.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.start_time(class="form-control form-control-lg") }}
                    {% endif %} 
                </div>

                <div class="end-date-container" style="display: none;">

                    {% if form.end_date.errors %}
                    {{form.end_date(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.end_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.end_date(class="form-control form-control-lg") }}
                    {% endif %} 

                    {% if form.end_time.errors %}
                        {{form.end_time(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.end_time.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.end_time(class="form-control form-control-lg") }}
                    {% endif %} 
                </div>

                <span class="toggle-btn">+ End date and time</span>
                
                <div>
                    {% if form.tag.errors %}
                        {{form.tag(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.tag.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.tag(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <span class="toggle-btn">+ Participation fee</span>

                <div>
                    {% if form.fee.errors %}
                        {{form.fee(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.fee.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fee(class="form-control form-control-lg") }}
                    {% endif %}

                   

                    {% if form.capacity.errors %}
                        {{form.capacity(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.capacity.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.capacity(class="form-control form-control-lg") }}
                    {% endif %}

                </div>
                   
                <div>
                  
                    {% if form.content.errors %}
                        {{form.content(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg")}}
                    {% endif %}
                </div>

                <div>
                    {% if form.location.errors %}
                        {{form.location(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.location(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div id="map"></div>

                <div>
                    {{ form.files.label(class="form-control-label") }}
                    
                    {% if form.files.errors %}
                        {{form.files(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.files.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.files(class="form-control form-control-lg")}}
                    {% endif %}
                </div>

            </fieldset>
            <div>
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/create_meeting.js') }}"></script>
   
{% endblock content %}