{% extends "layout.html" %}
{% block content %}
    <div style="margin: 0 auto; width: 50rem; background-color: white; border-radius: 17px;">
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px; padding: 15px;">
            <div>   
                <h2>Community</h1>
                
                {% if section == 'recommendations' %}
                    <p>Visited a delicious restraurant recently? Tell us about it!</p>
                {% elif section == 'random' %}
                    <p>Discuss anything</p>
                {% elif section == 'politics' %}
                    <p>Discussions related to politics</p>
                {% elif section == 'jobs' %}
                    <p>Post job adverts here</p>
                {% else %}
                    <p>Discuss various topics with other teachers</p>
                {% endif %}
            </div>
            <div>
                <i class="fa-solid fa-pencil"></i>
                <a class="create-btn" href="{{ url_for('materials.create_material', level='community') }}">Make a post</a>
            </div>
        </div>

        <nav class="search-nav" id="questions-filter-nav">
            <a href="{{ url_for('materials.forum') }}">All</a>
            <a href="{{ url_for('materials.forum', b='languages') }}">Language Learning</a>
            <a href="{{ url_for('materials.forum', b='recommendations') }}">맛집</a>
            <a href="{{ url_for('materials.forum', b='visa') }}">Teaching</a>
            <a href="{{ url_for('materials.forum', b='jobs') }}">Job Adverts</a>
            <a href="{{ url_for('materials.forum', b='travel') }}">Travel</a>
            <a href="{{ url_for('materials.forum', b='korea') }}">Korea</a>
            <a href="{{ url_for('materials.forum', b='politics') }}">Politics</a>
            <a href="{{ url_for('materials.forum', b='random') }}">Random</a>
           
            <form method="POST" action="" id="filter-submit">
                <i id="custom-select" class="fa-solid fa-ellipsis-vertical"></i>
            </form>
     
        </nav>
        
        <div class="material-posts">
            {% if materials.total == 0 %}
                <h3>Hm...it seems like there are no results with those attributes. 🙅</h3>
                <p>Try using a different filter or use the searchbar above.</p>
            {% endif %}
            {% for material in materials %}
                <a href="{{ url_for('materials.material', material_id=material.id)}}">
                    <div class="material-post-container">
                    <img class="material-post-profile-picture" src="{{ url_for('static', filename='pics/' + material.creator.image_file)}}" alt="Profile Picture">
                    <div>
                        <div class="material-post-header">
                            <div class="material-post-grade">Grade {{ material.grade }}</div>
                            <div class="material-post-title">{{ material.title }}</div>
                            
                        </div>
                        <div class="material-post-footer">
                            <div class="material-post-user-info">
                                <span class="material-post-author">Posted by {{ material.creator.username }}</span>
                                
                                <span class="material-post-date">{{ post_timestamp(material.date_posted) }} ago</span>
                            </div>
                        
                            <div class="material-post-comment-info">
                                <i class="fa-regular fa-heart"></i>
                                <span class="material-post-likes">{{ material.likes_count() }}</span>
                                <i class="fa-regular fa-comment"></i>
                                <span class="material-post-comments">{{ material.comments_count() }}</span>
                            </div>
                        </div>
                    </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        {% for page_num in materials.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
            {% if page_num %}
                {% if materials.page == page_num %}
                    <a style="background-color: rgba(244, 130, 37, 1); color: white;" class="paginate-btn" href="{{ url_for('materials.load_materials', level=level, page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="paginate-btn" href="{{ url_for('materials.load_materials', level=level, page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}    
    </div>
    <script src="{{ url_for('static', filename='js/customSelectBtn.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock content %}

