{% extends "layout.html" %}
{% block content %}
   
    
    <div class="posts">
        <div class="post-editor">
            <form class="edit-form" method="POST" action="">
                {{ edit_form.hidden_tag() }}
                <div>      
                    {% if edit_form.editor_content.errors %}
                        {{edit_form.editor_content(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in edit_form.editor_content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ edit_form.editor_content}}
                    {% endif %}
                </div>
                <div class="post-form-footer">
                    <div>{{ edit_form.submit }}</div>
                </div>
            </form>
        </div>
        
        <h2>Teachers Lounge</h2>
        <div class="post-form-container">
            <div class="post-form-header">
                <img class="post-form-img" src="{{ url_for('static', filename='pics/' + current_user.image_file)}}">
                <form method="POST" action="">
                    {{ post_form.hidden_tag() }}
                    <div>      
                        {% if post_form.content.errors %}
                            {{post_form.content(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in post_form.content.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ post_form.content}}
                        {% endif %}
                    </div>
                    <div class="post-form-footer">
                        <div>{{ post_form.submit }}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="announcement-container">
        <div class="announcement-bar">
          <p class='text-muted'>
            <ul class="list-group">
              <li class="list-group-item list-group-item-light">Latest Posts
                <div>
                    {% for post in popular_posts %}
                        {{ post.author.username }}
                        {{ post.content }}
                    {% endfor %}
                </div>
              </li>
              <li class="list-group-item list-group-item-light">Announcements</li>
              <li class="list-group-item list-group-item-light">Calendars</li>
              <li class="list-group-item list-group-item-light">etc</li>
            </ul>
          </p>
        </div>
      </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock content %}