{% extends "layout.html" %}
{% block title %}Bibimhak - Home{% endblock %}
{% block content %}
    <div class="posts">
        <div class="post-editor">
            <form class="edit-form" method="POST" action="" style="flex-grow: 1;">
                {{ edit_form.hidden_tag() }}
                  
                {% if edit_form.editor_content.errors %}
                    {{edit_form.editor_content(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in edit_form.editor_content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ edit_form.editor_content}}
                {% endif %}
                <div class="post-form-footer">
                    <div>{{ edit_form.submit }}</div>
                </div>
            </form>
        </div>
        <div class="post-form-container">
            <h2>Staff Room</h2>
            <div style="display: flex;">
                <div style="flex: none;">
                    <div style="position: relative;">
                        <a href="{{ url_for('users.user_profile', username=current_user.username) }}">
                            <img class="post-form-img" src="{{ url_for('static', filename='pics/' + current_user.image_file)}}">
                        </a>
                    </div>
                </div>
                <div style="display: flex; width: 100%;">
                    <form method="POST" action="" style="width: 100%;">
                        {{ post_form.hidden_tag() }}

                        {% if post_form.content.errors %}
                            {{post_form.content(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in post_form.content.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ post_form.content }}
                        {% endif %}

                        <div class="post-form-footer">
                            <div class="post-form-tools">
                                <i id="emoji-icon" class="fa-regular fa-face-smile"></i>
                                <i id="picture-icon" class="fa-regular fa-image"></i>
                            </div>
                            <emoji-picker></emoji-picker>
                            {{ post_form.submit }}
                         </div>
                    </form>
                </div>
            </div>
           
        </div>
        <div class="loader-container">
            <div class="loader"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/responsive.js') }}"></script>
    <script type="module" src="https://unpkg.com/emoji-picker-element"></script>
{% endblock content %}

{% block announcement_bar %}
    <div class="announcement-bar">
        {% if current_user.my_meetings()|length > 0 %}
            <div class="announcement-bar-container"> 
                <div style="display: flex; align-items: center;">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <h5>Events you're attending</h5>
                </div>
                <ul class="list-group">
                    {% for meeting in current_user.my_meetings() %}
                        <li>
                            <div class="announcement-bar-entry">
                                <div class="announcement-bar-header">
                                    <a href="{{ url_for('meetings.meeting', meeting_id=meeting.id) }}">{{ meeting.title | truncate(30, True, '')}}</a>                             
                                </div>
                                <div>
                                    <span style="font-size: smaller; color: grey;">{{ meeting.start_date.strftime('%B %d') }} at {{ meeting.start_time }}</span>
                                    <span style="font-size: small;">&bull;</span>
                                    <span style="font-size: smaller; color: grey;">{{ meeting.going|length }}</span>
                                    <span style="font-size: smaller; color: grey;">going</span>
                                   
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <br>
        {% endif %}
        <div class="announcement-bar-container"> 
            <div style="display: flex; align-items: center;">
                <h5>Popular posts</h5>
            </div>
            <ul class="list-group">
                {% for post in popular_posts %}
                    <li>
                        <div class="announcement-bar-entry">
                            <div class="announcement-bar-header">
                                <a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.content | truncate(30, True, '')}}</a>                             
                            </div>
                            <div>
                                <span style="font-size: smaller; color: grey;">{{ post.likes|length }}</span>
                                {% if post.likes|length == 1 %}
                                    <span style="font-size: smaller; color: grey;">like</span>
                                    {% else %}
                                    <span style="font-size: smaller; color: grey;">likes</span>
                                {% endif %}
                                <span style="font-size: small;">&bull;</span>
                                <span style="font-size: smaller; color: grey;">{{ post.comments|length }}</span>
                                {% if post.comments|length == 1 %}
                                    <span style="font-size: smaller; color: grey;">comment</span>
                                {% else %}
                                    <span style="font-size: smaller; color: grey;">comments</span>
                                {% endif %}
                                <span style="font-size: small;">&bull;</span>
                                <span style="font-size: smaller; color: grey;">{{ timestamper(post.date_posted) }}</span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <div class="announcement-bar-container"> 
            <div style="display: flex; align-items: center;">
                <h5>Recently asked questions</h5>
            </div>
            <ul class="list-group">
                {% for question in recent_questions %}
                    <li>
                        <div class="announcement-bar-entry">
                            <div class="announcement-bar-header">
                                <a href="{{ url_for('materials.material', material_id=question.id) }}">{{ question.title | truncate(50, killwords=false, end='...')}}</a>                             
                            </div>
                            <div>
                                <span style="font-size: smaller; color: grey;">{{ question.likes|length }}</span>
                                {% if question.likes|length == 1 %}
                                    <span style="font-size: smaller; color: grey;">like</span>
                                    {% else %}
                                    <span style="font-size: smaller; color: grey;">likes</span>
                                {% endif %}
                                <span style="font-size: small;">&bull;</span>
                                <span style="font-size: smaller; color: grey;">{{ question.comments|length }}</span>
                                {% if question.comments|length == 1 %}
                                    <span style="font-size: smaller; color: grey;">comment</span>
                                {% else %}
                                    <span style="font-size: smaller; color: grey;">comments</span>
                                {% endif %}
                                <span style="font-size: small;">&bull;</span>
                                <span style="font-size: smaller; color: grey;">{{ timestamper(question.date_posted) }}</span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <div class="announcement-bar-container">
            <div style="display: flex; align-items: center;">
                <h5>Trending Materials</h5>
            </div>
            <ul class="list-group">
                {% for material in popular_materials %}
                    <li>
                        <div class="announcement-bar-entry">
                            <div class="announcement-bar-header">
                                <a href="{{ url_for('materials.material', material_id=material.id) }}">{{ material.title | truncate(30, True, '')}}</a>
                                <div>
                                    <span style="font-size: smaller; color: grey;">{{ material.likes|length }}</span>
                                    {% if material.likes|length == 1 %}
                                        <span style="font-size: smaller; color: grey;">like</span>
                                        {% else %}
                                        <span style="font-size: smaller; color: grey;">likes</span>
                                    {% endif %}
                                    <span style="font-size: small;">&bull;</span>
                                    <span style="font-size: smaller; color: grey;">{{ material.comments|length }}</span>
                                    {% if material.comments|length == 1 %}
                                        <span style="font-size: smaller; color: grey;">comment</span>
                                    {% else %}
                                        <span style="font-size: smaller; color: grey;">comments</span>
                                    {% endif %}
                                    <span style="font-size: small;">&bull;</span>
                                    <span style="font-size: smaller; color: grey;">{{ timestamper(material.date_posted) }}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            </span>
        </div>
        <br>
        <div class="announcement-bar-container"> 
            <div style="display: flex; align-items: center;">
                <h5>Upcoming meetings</h5>
            </div>
            <ul class="list-group">
                {% for meeting in upcoming_meetings %}
                    <li>
                        <div class="announcement-bar-entry">
                            <div class="announcement-bar-header">
                                <a href="{{ url_for('meetings.meeting', meeting_id=meeting.id) }}">{{ meeting.title | truncate(30, True, '')}}</a>                             
                            </div>
                            <div>
                                <span style="font-size: smaller; color: grey;">{{ meeting.start_date.strftime('%B %d') }} at {{ meeting.start_time }}</span>
                                <span style="font-size: small;">&bull;</span>
                                <span style="font-size: smaller; color: grey;">{{ meeting.going|length }}</span>
                                <span style="font-size: smaller; color: grey;">going</span>
                               
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <br>
    </div>
{% endblock announcement_bar %}