<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7c4ca0706d.js" crossorigin="anonymous"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>Inbox - Bibimhak</title>
    </head>
    <body>
      <div class="top-line"></div>
      <div class="likes-popup"> </div>
      <div class="options-popup">
        <div style="color: red; font-weight: bold;">Report</div>
        <div style="color: red; font-weight: bold;" class="delete-btn" data-toggle="modal" data-target="#deleteModal">Delete</div>
        <div class="options-editBtn">Edit</div>
        <div>Cancel</div>
      </div>
      <div class="overlay"></div>
      <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        {% endwith %}
      </div>

      <div class="navbar">
        <a href="{{ url_for('main.home') }}"><img src="{{ url_for('static', filename='pics/BIBIMHAK.png')}}" alt="Site Logo" class="logo"></a>
        
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <i class="fas fa-search"></i>
        </div>
        <div class="profile">
          <a href="{{ url_for('posts.inbox') }}">
            <div style="position: relative; display: inline-block;">
              <i class="fa-regular fa-message"></i>
              {% if not current_user.is_anonymous %}
                {% set new_messages = current_user.new_messages() %}
                {% if new_messages %}
                  <span id="message_count" class="badge" data-count="{{ new_messages }}">{{ new_messages }}</span>
                {% else %}
                  <span id="message_count" class="badge" data-count="{{ new_messages }}" style="display: none;">{{ new_messages }}</span>
                {% endif %}
              {% endif %}
            </div>
          </a>
          <div style="position: relative; display: inline-block;">
            <i id="notification-bell" class="fa-regular fa-bell"></i>
            {% if not current_user.is_anonymous %}
              {% set new_notifications = current_user.new_notifications() %}
              {% if new_notifications > 0 %}
                <span id="notifications_count" class="badge" data-count="0">{{ new_notifications}}</span>
              {% endif %}
            {% endif %}
          </div>
         
          <div class="notif-dropdown" style="display: none;">
            <h5>Notifications</h5>
          </div>
          
          <div class="profile-pic">
              <img src="{{ url_for('static', filename='pics/' + current_user.image_file) }}" alt="User Profile">
              <div class="profile-dropdown">
                <div class="header">
                  <img src="{{ url_for('static', filename='pics/' + current_user.image_file) }}" alt="User Profile">
                  <h5>{{ current_user.username }}</h5>
                </div>  
                <hr>
                <!-- Place other content here -->
                <a href="{{ url_for('main.logout') }}" class="logout-btn">
                  <i class="fas fa-sign-out-alt"></i> Logout
                </a>
              </div>
          </div>
        </div>
      </div>  

      <div class="wrapper">
          
        <div class="conversations">
          <h5>Messages</h5>
          {% for user in conversations %}
              <div class="conversation" 
                    data-user="{{ user.id }}" 
                    data-username="{{ user.username }}" 
                    data-img="{{ user.image_file }}"
                    data-lastseen="{{ user.active_since() }}">
                  <div style="display: flex; align-items: center;">
                    <img src="static/pics/{{ user.image_file }}">
                    <div>
                        <p>{{ user.username }}</p>
                        <div style="display: flex;">
                          <p>{{ user.get_last_message().body|truncate(20, killwords=False, end='...') }}</p>
                          <span>&bull;</span>
                          <span>{{ user.get_last_message_time() }}</span>
                        </div>
                    </div>
                  </div>
                  
              </div> 
          {% endfor %}
        </div>

            <div style="display: flex; flex-direction: column; flex: auto;">

                {% if user %}
                  <div class="inbox-header" style="display: flex;">
                    <div class="header-info" style="border-bottom: 1px solid gainsboro; display: flex;">
                        <a class="header-link" href="{{ url_for('users.user_profile', username=user.username) }}">
                          <img class="header-img" src="{{ url_for('static', filename='pics/' + user.image_file)}}">
                        </a>
                        <div> 
                          <p class="header-username">{{ user.username }}</p>
                          <p class="header-lastseen">Active {{ post_timestamp(user.last_seen) }} ago</p>
                        </div>
                    </div>
                  </div>
                {% else %}
                  <div class="inbox-header" style="display: none;">
                      <div class="header-info" style="border-bottom: 1px solid gainsboro; display: flex;">
                          <a class="header-link">
                            <img class="header-img" src="#">
                          </a>
                          <div> 
                            <p class="header-username"></p>
                            <p class="header-lastseen"></p>
                          </div>
                      </div>
                  </div>
                {% endif %}
                <div class="message-display">   
                    {% if messages %}
                        {% for msg in messages %}
                            {% if msg.author != current_user %}
                                <div class="message-container" style="display: flex; justify-content: flex-start;">
                                    <div class="message">{{ msg.author.username }}: {{ msg.body }}</div>
                                    <div>{{ msg.timestamp.strftime('%H:%M') }}</div>
                                </div>
                            {% else %}
                            <div class="message-sent-container" style="display: flex; justify-content: flex-end;">
                              <div>{{ msg.timestamp.strftime('%H:%M') }}</div>
                              <div class="message-sent">{{ msg.author.username }}: {{ msg.body }}</div>
                            </div>  
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="inbox-center">
                          <i class="fa-regular fa-paper-plane"></i>
                          <h3>
                            Your messages
                          </h3>
                          <p>Send private messages to other teachers</p>
                        </div>
                    {% endif %}
                </div>
               
                <div class="message-input" >
                    <form method="POST" action="" class="inbox-form">
                        {{ form.hidden_tag() }}
                        <div class="message-input-border">      
                            {% if form.body.errors %}
                                {{form.body}}
                                <div class="invalid-feedback">
                                    {% for error in form.body.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.body(class='inbox-input')}}
                                {{ form.submit(class='inbox-submit') }}
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div> 
        </div>
        <script src="{{ url_for('static', filename='js/inbox.js') }}"></script>
        <script src="{{ url_for('static', filename='js/profile_dropdown.js') }}"></script>
    </body>
</html>