{% extends "layout.html" %}

{% block content %}

    <div class="conversations">
        {% for user in conversations %}
       
            <div class="conversation" data-user="{{ user.id }}">
                <img src="profile1.jpg">
                {{ user.username }}
            </div> 
       
        {% endfor %}
    </div>

    <div class="message-display">
        <!-- Display message history here -->
    </div>
        
    <div class="message-input">
        <textarea placeholder="Message..."></textarea>
        <button>Send</button>
    </div>
    <script src="{{ url_for('static', filename='js/inbox.js') }}"></script>
{% endblock content %}