<!DOCTYPE html>
<html>
<head>
    <title>Your Landing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">Bibim School</div>
        <ul class="navbar-links">
            <li><a href="{{ url_for('main.login') }}">Login</a></li>
            <li><a href="{{ url_for('main.register') }}">Register</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </nav>
    <!-- Your landing page content goes here -->
    <div>

    </div>
    <div class="image-container">
        <div class="text">
            <h1>South Korea's foremost English Teacher Portal</h1>
            <p>Bibimhak is a file-sharing and social networking platform for helping new and 
                existing English teachers in Korea flourish in their new life as teachers. 
                It enables teachers to share their knowledge and colloborate together. </p>
        </div>
        <img src="{{ url_for('static', filename='landing_page/1.png')}}">
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='landing_page/2.png')}}">
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='landing_page/3.png')}}">
    </div>
    
</body>
</html>
