<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7c4ca0706d.js" crossorigin="anonymous"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>Korea English Teacher Community</title>
    </head>
    <body>
        <div class="likes-popup"></div>
        <div class="overlay"></div>
        <nav class="navbar">
            <div class="navbar-container">
              
              <a href="{{ url_for('main.home') }}">
                <img src="{{ url_for('static', filename='pics/logo.png')}}" id="navbar-home">
              </a>

              <form method="POST" action="{{ url_for('main.search') }}">
                {{ search_form.hidden_tag() }}
                  <div>
                      {% if search_form.query.errors %}
                          {{search_form.query(class="search_form-control search_form-control-lg is-invalid")}}
                          <div class="invalid-feedback">
                              {% for error in search_form.query.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ search_form.query(class="search_form-control search_form-control-lg")}}
                      {% endif %}
                  </div>
              </form>
              {% if current_user.is_authenticated %}
                <a href="{{ url_for('users.user_profile', username=current_user.username) }}">Account</a>
                <a href="{{ url_for('main.logout') }}">Logout</a>
              {% else %}
                <a href="{{ url_for('main.login') }}">Login</a>
                <a href="{{ url_for('main.register') }}">Register</a>
              {% endif %}

             
            </div>
          </nav>
        <div class="wrapper">
            <div class="sidebar">
                <ul>
                  <li><a href="{{ url_for('main.home') }}"><i class="fa fa-house"></i>Home</a></li>
                  <li><a href="{{ url_for('materials.load_materials', level='elementary') }}"><i class="fa fa-school"></i>Elementary school</a></li>
                  <li><a href="{{ url_for('materials.load_materials', level='middle') }}">Middle school</a></li>
                  <li><a href="{{ url_for('materials.load_materials', level='high') }}">High school</a></li>
                  <li><a href="{{ url_for('materials.load_materials', level='camp') }}"><i class="fa fa-campground"></i>Camp</a></li>
                  <li>
                    <a href="{{ url_for('materials.load_materials', level='templates') }}"><i class="fa fa-gamepad"></i>Games & templates</a>
                  </li>
                  <li>
                    <a href="{{ url_for('posts.inbox') }}">
                      <i class="fa-regular fa-paper-plane"></i>
                      Messages
                      {% if not current_user.is_anonymous %}
                        {% set new_messages = current_user.new_messages() %}
                        {% if new_messages %}
                          <span id="message_count" class="badge" data-count="{{ new_messages }}">{{ new_messages }}</span>
                        {% else %}
                          <span id="message_count" class="badge" data-count="{{ new_messages }}" style="display: none;">{{ new_messages }}</span>
                        {% endif %}
                      {% endif %}
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="notifications-link">
                      <i class="fa fa-bell"></i>
                      Notifications
                      {% if not current_user.is_anonymous %}
                        {% set new_notifications = current_user.new_notifications() %}
                        {% if new_notifications %}
                          <span id="notifications_count" class="badge" data-count="{{ new_notifications }}">{{ new_notifications }}</span>
                        {% endif %}
                      {% endif %}
                    </a>
                    <div class="notifications" style="display: none;"></div>
                  </li>
                  <li><a href="{{ url_for('materials.load_materials', level='teaching') }}"><i class="fa fa-chalkboard-user"></i>Teaching Advice</a></li>
                  <li><a href="{{ url_for('users.display_users') }}"><i class="fa fa-trophy"></i></i>Hall of Fame</a></li>
                  <li><a href="{{ url_for('meetings.load_meetings') }}"><i class="fa fa-briefcase"></i>Meetings</a></li>
                </ul> 
            </div>
            
            <div class="main-content">
                {% block content %}{% endblock content %}
            </div>
            <div class="main-content-2">
              {% block content2 %}{% endblock content2 %}
            </div>
          </div>
       
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
</html>
