<!DOCTYPE html>
<html>
<head>
  <title>Bibimhak - Log in</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
  <script src="https://kit.fontawesome.com/7c4ca0706d.js" crossorigin="anonymous"></script>
</head>
<body class="login-body">
  <div class="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
  <div style="display: flex; flex-direction: column; align-items: center;">
    <div class="login-container">
      {% if current_user.is_authenticated and not current_user.email_confirmed %}
          <p> Please confirm your email address. 
              <a href="{{ url_for('users.resend_confirmation') }}">Click here</a> to resend the confirmation email.
          </p>
      {% endif %}
      <a href="{{ url_for('main.landing') }}">
        <img src="{{ url_for('static', filename='BIBIMHAK.png')}}" alt="Website Logo" class="login-logo">
      </a>
      
      <form method="POST" action="" class="login-form">
          {{ form.hidden_tag() }}
          {{ form.email.label }}
          {{ form.email(class="login-input")}}
          <div style="display: flex; justify-content: space-between; align-items: center;">
            {{ form.password.label }}
            <a href="{{ url_for('main.reset_request')}}">Forgot password?</a>
          </div>
         
          {{ form.password(class="login-input")}}
          {{ form.submit(class="login-button")}}
      </form>    
    </div>
    <div class="login-footer">
      Don't have an account?
      <a href="{{ url_for('main.register')}}">Sign up</a>
    </div>
  </div>
 
 
</body>
</html>