{% extends "layout.html" %}
{% block content %}
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px; padding: 15px;">
        <h2>Materials for {{ level }} school</h1>
        <div>
            <i class="fa-solid fa-pencil"></i>
            <a class="create-btn" href="{{ url_for('materials.create_material', level=level) }}">Create</a>
        </div>
        
    </div>

    <nav class="materials-nav">
        {% if level == 'elementary' %}
        
        {% elif level == 'middle' %}
            <a href="{{ url_for('materials.load_materials', level=level, grade=1) }}">1st grade</a>
            <a href="{{ url_for('materials.load_materials', level=level, grade=2) }}">2nd grade</a>
            <a href="{{ url_for('materials.load_materials', level=level, grade=3) }}">3rd grade</a>
            <a href="{{ url_for('materials.load_materials', level=level, grade=6) }}">Afterschool</a>
            <a href="{{ url_for('materials.load_materials', level=level, grade=6) }}">Tests</a>
            <a href="{{ url_for('materials.load_materials', level=level, grade=6) }}">Themed lessons</a>
        {% elif level == 'high' %}
            <a href="{{ url_for('materials.load_materials', level=level, grade=1) }}">1st grade</a>
            <a href="{{ url_for('materials.load_materials', level=level, grade=2) }}">2nd grade</a>
            <a href="{{ url_for('materials.load_materials', level=level, grade=3) }}">3rd grade</a>
            <a href="{{ url_for('materials.load_materials', level=level, grade=6) }}">Afterschool</a>
            <a href="{{ url_for('materials.load_materials', level=level, grade=6) }}">Tests</a>
            <a href="{{ url_for('materials.load_materials', level=level, grade=6) }}">Themed lessons</a>
        {% elif level == 'teaching' %}
            <a href="{{ url_for('materials.load_materials', level=level, grade=1) }}">Classroom Management</a>
            <a href="{{ url_for('materials.load_materials', level=level, grade=2) }}">Teaching advice</a>
            <a href="{{ url_for('materials.load_materials', level=level, grade=3) }}">School life</a>
            <a href="{{ url_for('materials.load_materials', level=level, grade=3) }}">Contracts</a>
        {% elif level == 'camp' %}
            <a href="{{ url_for('materials.load_materials', level=level) }}">Movie themed</a>
            <a href="{{ url_for('materials.load_materials', level=level) }}">Music themed</a>
            <a href="{{ url_for('materials.load_materials', level=level) }}">Science themed</a>
            <a href="{{ url_for('materials.load_materials', level=level) }}">Travel & culture themed</a>
            <a href="{{ url_for('materials.load_materials', level=level) }}">Game themed</a>
            <a href="{{ url_for('materials.load_materials', level=level) }}">Reading themed</a>
            <a href="{{ url_for('materials.load_materials', level=level) }}">Other</a>
    {% endif %}
    </nav>

    <div class="materials-filters">
        <form method="POST" action="" id="filter-submit">
            {{ form.hidden_tag() }}
            {% if level == 'camp' %}
               
            {% else %}

                <i id="custom-select" class="fa-solid fa-ellipsis-vertical"></i>
 
                <div class="select-options" id="selectOptions">
                   <div class="adv-filter" data-para="new">Latest</div>
                   <div class="adv-filter" data-para="old">Oldest</div>
                   <div class="adv-filter" data-para="likes">Likes</div>
                   <div class="adv-filter" data-para="comments">Comments</div>
                </div>
               

                {% if form.grade.errors %}
                {{form.grade(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.grade.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.grade(class="filter-select")}}
                {% endif %}
    
                {% if form.publisher.errors %}
                    {{form.publisher(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.publisher.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.publisher(class="filter-select")}}
                {% endif %}
    
                {% if form.lesson.errors %}
                    {{form.lesson(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.lesson.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.lesson(class="filter-select")}}
                {% endif %}
    
                {% if form.type.errors %}
                    {{form.type(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.type.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.type(class="filter-select")}}
                {% endif %}

           
               
            {% endif %}
        </form>
    </div>

    <div class="material-posts">
        {% if materials.total == 0 %}
            <h3>Hm...it seems like there are no results with those attributes. 🙅</h3>
            <p>Try using a different filter or use the searchbar above.</p>
        {% endif %}
        {% for material in materials %}
            <a href="{{ url_for('materials.material', material_id=material.id)}}">
                <div class="material-post-container">
                <img class="material-post-profile-picture" src="{{ url_for('static', filename='pics/' + material.creator.image_file)}}" alt="Profile Picture">
                <div>
                    <div class="material-post-header">
                        <div class="material-post-grade">Grade {{ material.grade }}</div>
                        <div class="material-post-title">{{ material.title }}</div>
                        
                    </div>
                    <div class="material-post-footer">
                        <div class="material-post-user-info">
                            <span class="material-post-author">Posted by {{ material.creator.username }}</span>
                            
                            <span class="material-post-date">{{ post_timestamp(material.date_posted) }} ago</span>
                        </div>
                      
                        <div class="material-post-comment-info">
                            <i class="fa-regular fa-heart"></i>
                            <span class="material-post-likes">{{ material.likes_count() }}</span>
                            <i class="fa-regular fa-comment"></i>
                            <span class="material-post-comments">{{ material.comments_count() }}</span>
                        </div>
                    </div>
                </div>
                </div>
            </a>
        {% endfor %}
    </div>
    {% for page_num in materials.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
        {% if page_num %}
            {% if materials.page == page_num %}
                <a style="background-color: rgba(244, 130, 37, 1); color: white;" class="paginate-btn" href="{{ url_for('materials.load_materials', level=level, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="paginate-btn" href="{{ url_for('materials.load_materials', level=level, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}    
    <script src="{{ url_for('static', filename='js/customSelectBtn.js') }}"></script>
{% endblock content %}

