{% extends "layout.html" %}
{% block title %}Bibimhak - Materials{% endblock %}
{% block content %}
    <div class="main-container">

    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px; padding: 0 20px; padding-top: 20px">
        <h2>Materials for {{ level }} school</h1>
        <div>
            <i class="fa-solid fa-pencil"></i>
            <a class="create-btn" href="{{ url_for('materials.create_material', level=level) }}">Create</a>
        </div>
    </div>

    <div class="materials-filters" data-level="{{ level }}">
        <form method="GET" action="" id="filter-submit">
           
            {% if level == 'camp' %}
               
            {% else %}
                <div class="select-options" id="selectOptions">
                    <h5>Sort by</h5>
                    <a href="{{ url_for('materials.load_materials', 
                        level=level, 
                        page=page_num, 
                        grade=form.grade.data, 
                        publisher=form.publisher.data, 
                        lesson=form.lesson.data, 
                        type=form.type.data,
                        f='likes') }}">{{ page_num }}
                        <div class="adv-filter">Top</div>
                    </a>
                  
                    <a href="{{ url_for('materials.load_materials', 
                        level=level, 
                        page=page_num, 
                        grade=form.grade.data, 
                        publisher=form.publisher.data, 
                        lesson=form.lesson.data, 
                        type=form.type.data,
                        f='new') }}">{{ page_num }}
                        <div class="adv-filter">Newest</div>
                    </a>
                    <a href="{{ url_for('materials.load_materials', 
                        level=level, 
                        page=page_num, 
                        grade=form.grade.data, 
                        publisher=form.publisher.data, 
                        lesson=form.lesson.data, 
                        type=form.type.data,
                        f='old') }}">{{ page_num }}
                        <div class="adv-filter">Oldest</div>
                    </a>
                    <a href="{{ url_for('materials.load_materials', 
                        level=level, 
                        page=page_num, 
                        grade=form.grade.data, 
                        publisher=form.publisher.data, 
                        lesson=form.lesson.data, 
                        type=form.type.data,
                        f='liked') }}">{{ page_num }}
                        <div class="adv-filter">Liked by me</div>
                    </a>
                    <a href="{{ url_for('materials.load_materials', 
                    level=level, 
                    page=page_num, 
                    grade=form.grade.data, 
                    publisher=form.publisher.data, 
                    lesson=form.lesson.data, 
                    type=form.type.data,
                    f='comments') }}">{{ page_num }}
                    <div class="adv-filter">Comments</div>
                </a>
                <a href="{{ url_for('materials.load_materials', 
                    level=level, 
                    page=page_num, 
                    grade=form.grade.data, 
                    publisher=form.publisher.data, 
                    lesson=form.lesson.data, 
                    type=form.type.data,
                    f='following') }}">{{ page_num }}
                    <div class="adv-filter">Following</div>
                </a>

                </div>
               

                {% if form.grade.errors %}
                {{form.grade(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.grade.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.grade(class="filter-select")}}
                {% endif %}
    
                {% if form.publisher.errors %}
                    {{form.publisher(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.publisher.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.publisher(class="filter-select")}}
                {% endif %}
    
                {% if form.lesson.errors %}
                    {{form.lesson(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.lesson.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.lesson(class="filter-select")}}
                {% endif %}
    
                {% if form.type.errors %}
                    {{form.type(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.type.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.type(class="filter-select")}}
                {% endif %}
            {% endif %}
            <i id="custom-select" class="fa-solid fa-ellipsis-vertical"></i>
        </form>
    </div>

    <div class="material-posts">
        {% if materials.total == 0 %}
            <h3>Hm...it seems like there are no results with those attributes. 🙅</h3>
            <p>Try using a different filter or use the searchbar above.</p>
        {% endif %}
        {% for material in materials %}
            <a href="{{ url_for('materials.material', material_id=material.id)}}">
                <div class="material-post-container">
                    <div style="width: 100%;">
                        <div class="material-post-header">
                            <div style="display: flex;">
                                <div class="material-post-grade">
                                    Grade {{ material.grade }}
                                </div>
                                {% if material.lesson_id %}
                                    <div class="">{{ material.lesson_title() }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="material-post-title">{{ material.title }}</div>
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <div class="material-post-footer">
                                <div style="display: flex; align-items: center;"> 
                                    <div class="material-post-tags">
                                        {% for tag in material.tags %}
                                        <div class="tag">
                                            {{ tag.tagname }}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="material-post-comment-info">
                                    <i class="fa-regular fa-heart"></i>
                                    <span class="material-post-likes">{{ material.likes_count() }}</span>
                                    <i class="fa-regular fa-comment"></i>
                                    <span class="material-post-comments">{{ material.comments_count() }}</span>
                                </div>
                            </div>
                            <div class="material-post-user-info">
                                <span class="material-post-author">Posted by</span>
                                <img class="material-post-profile-picture" src="{{ url_for('static', filename='pics/' + material.creator.image_file)}}" alt="Profile Picture">
                                <span class="material-post-author">{{ material.creator.username }}</span>
                                <span class="material-post-date">{{ post_timestamp(material.date_posted) }} ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="paginate-container">
        {% for page_num in materials.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
            {% set type = request.args.get('type')%}
            {% if page_num %}
                {% if materials.page == page_num %}
                    <div class="paginate-btn-active">{{page_num}}</div>
                {% else %}
                    <a class="paginate-btn" href="{{ url_for('materials.load_materials', level=level, page=page_num, grade=form.grade.data, publisher=form.publisher.data, lesson=form.lesson.data, type=form.type.data) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}  
    </div>  
    </div>  
    <script src="{{ url_for('static', filename='js/customSelectBtn.js') }}"></script>
{% endblock content %}

