{% extends "layout.html" %}
{% block title %}Bibimhak - Questions{% endblock %}
{% block content %}
    <div style="width: 50rem; background-color: white; border-radius: 17px;">
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px; padding: 15px;">
            <h2>Questions</h1>
            <div>
                <i class="fa-solid fa-pencil"></i>
                {% if request.args.get('type') %}
                    <a class="create-btn" href="{{ url_for('materials.create_material', level='question', type=request.args.get('type')) }}">Ask a question</a>
                {% else %}
                    <a class="create-btn" href="{{ url_for('materials.create_material', level='question') }}">Ask a question</a>
                {% endif %}
            </div>
        </div>
        
        <nav class="search-nav" id="questions-filter-nav">
            <a href="{{ url_for('materials.questions') }}">All</a>
            <a href="{{ url_for('materials.questions', type='classroom') }}">Classroom</a>
            <a href="{{ url_for('materials.questions', type='visa') }}">Visa</a>
            <a href="{{ url_for('materials.questions', type='coteaching') }}">Co-teachers</a>
            <a href="{{ url_for('materials.questions', type='contracts') }}">Contracts</a>
            <a href="{{ url_for('materials.questions', type='epik') }}">EPIK</a>
            <a href="{{ url_for('materials.questions', type='hagwon') }}">Hagwon</a>
            <a href="{{ url_for('materials.questions', type='nhis') }}">NHIS</a>
            <a href="{{ url_for('materials.questions', type='accommodation') }}">Accommodation</a>
            <a href="{{ url_for('materials.questions', type='other') }}">Other</a>
          
            <form method="POST" action="" id="filter-submit">
                <i id="custom-select" class="fa-solid fa-ellipsis-vertical"></i>
            </form>
        </nav>
        
        <div class="material-posts">
            {% if questions.total == 0 %}
                <h3>Hm...it seems like there are no results with those attributes. 🙅</h3>
                <p>Try using a different filter or use the searchbar above.</p>
            {% endif %}
            {% for question in questions %}
                <a href="{{ url_for('materials.material', material_id=question.id)}}">
                    <div class="material-post-container">
                
                    <div style="width: 100%;">
                        <div class="material-post-header">
                            <div style="display: flex;">
                                <div class="question-post-title">
                                {{ question.title }}
                                </div>
                            </div>
                        </div>
                        <div class="question-post-content">
                            {{ question.content|striptags|escape|replace('\n', '')|replace('  ', ' ')|truncate(200, killwords=False, end='...') }}
                        </div>
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <div class="material-post-footer">
                                <div style="display: flex; align-items: center;"> 
                                    <div class="material-post-tags">
                                        <div class="tag">
                                            {{ question.grade }}
                                        </div>
                                    </div>
                                </div>
                                <div class="material-post-comment-info">
                                    <i class="fa-regular fa-heart"></i>
                                    <span class="material-post-likes">{{ question.likes|length }}</span>
                                    <i class="fa-regular fa-comment"></i>
                                    <span class="material-post-comments">{{ question.likes|length }}</span>
                                </div>
                            </div>
                            <div class="material-post-user-info">
                                <span class="material-post-author">Asked by</span>
                                <img class="material-post-profile-picture" src="{{ url_for('static', filename='pics/' + question.creator.image_file)}}" alt="Profile Picture">
                                <span class="material-post-author">{{ question.creator.username }}</span>
                                <span class="material-post-date">{{ post_timestamp(question.date_posted) }} ago</span>
                            </div>
                        </div>
                    </div>
                    </div>
                </a>
                
            {% endfor %}
        </div>
        <div class="paginate-container">
            {% for page_num in questions.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
                {% set type = request.args.get('type')%}
                {% if page_num %}
                    {% if questions.page == page_num %}
                        <div class="paginate-btn-active">{{page_num}}</div>
                    {% else %}
                        <a class="paginate-btn" href="{{ url_for('materials.questions', page=page_num, type=type) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}  
        </div>  
    </div>

    <script src="{{ url_for('static', filename='js/customSelectBtn.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>

{% endblock content %}

{% block announcement_bar %}
    <div class="announcement-bar">
        {% if current_user.my_meetings()|length > 0 %}
            <div class="announcement-bar-container"> 
                <div style="display: flex; align-items: center;">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <h5>Events you're attending</h5>
                </div>
                <ul class="list-group">
                    {% for meeting in current_user.my_meetings() %}
                        <li>
                            <div class="announcement-bar-entry">
                                <div class="announcement-bar-header">
                                    <a href="{{ url_for('meetings.meeting', meeting_id=meeting.id) }}">{{ meeting.title | truncate(30, True, '')}}</a>                             
                                </div>
                                <div>
                                    <span style="font-size: smaller; color: grey;">{{ meeting.start_date.strftime('%B %d') }} at {{ meeting.start_time }}</span>
                                    <span style="font-size: small;">&bull;</span>
                                    <span style="font-size: smaller; color: grey;">{{ meeting.going|length }}</span>
                                    <span style="font-size: smaller; color: grey;">going</span>
                                   
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <br>
        {% endif %}
        <div class="announcement-bar-container"> 
            <div style="display: flex; align-items: center;">
                <h5>Popular posts</h5>
            </div>
            <ul class="list-group">
                {% for post in popular_posts %}
                    <li>
                        <div class="announcement-bar-entry">
                            <div class="announcement-bar-header">
                                <a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.content | truncate(30, True, '')}}</a>                             
                            </div>
                            <div>
                                <span style="font-size: smaller; color: grey;">{{ post.likes|length }}</span>
                                {% if post.likes|length == 1 %}
                                    <span style="font-size: smaller; color: grey;">like</span>
                                    {% else %}
                                    <span style="font-size: smaller; color: grey;">likes</span>
                                {% endif %}
                                <span style="font-size: small;">&bull;</span>
                                <span style="font-size: smaller; color: grey;">{{ post.comments|length }}</span>
                                {% if post.comments|length == 1 %}
                                    <span style="font-size: smaller; color: grey;">comment</span>
                                {% else %}
                                    <span style="font-size: smaller; color: grey;">comments</span>
                                {% endif %}
                                <span style="font-size: small;">&bull;</span>
                                <span style="font-size: smaller; color: grey;">{{ post_timestamp(post.date_posted) }}</span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <div class="announcement-bar-container"> 
            <div style="display: flex; align-items: center;">
                <h5>Recently asked questions</h5>
            </div>
            <ul class="list-group">
                {% for question in recent_questions %}
                    <li>
                        <div class="announcement-bar-entry">
                            <div class="announcement-bar-header">
                                <a href="{{ url_for('materials.material', material_id=question.id) }}">{{ question.title | truncate(50, killwords=false, end='...')}}</a>                             
                            </div>
                            <div>
                                <span style="font-size: smaller; color: grey;">{{ question.likes|length }}</span>
                                {% if question.likes|length == 1 %}
                                    <span style="font-size: smaller; color: grey;">like</span>
                                    {% else %}
                                    <span style="font-size: smaller; color: grey;">likes</span>
                                {% endif %}
                                <span style="font-size: small;">&bull;</span>
                                <span style="font-size: smaller; color: grey;">{{ question.comments|length }}</span>
                                {% if question.comments|length == 1 %}
                                    <span style="font-size: smaller; color: grey;">comment</span>
                                {% else %}
                                    <span style="font-size: smaller; color: grey;">comments</span>
                                {% endif %}
                                <span style="font-size: small;">&bull;</span>
                                <span style="font-size: smaller; color: grey;">{{ post_timestamp(question.date_posted) }}</span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <div class="announcement-bar-container">
            <div style="display: flex; align-items: center;">
                <h5>Trending Materials</h5>
            </div>
            <ul class="list-group">
                {% for material in popular_materials %}
                    <li>
                        <div class="announcement-bar-entry">
                            <div class="announcement-bar-header">
                                <a href="{{ url_for('materials.material', material_id=material.id) }}">{{ material.title | truncate(30, True, '')}}</a>
                                <div>
                                    <span style="font-size: smaller; color: grey;">{{ material.likes|length }}</span>
                                    {% if material.likes|length == 1 %}
                                        <span style="font-size: smaller; color: grey;">like</span>
                                        {% else %}
                                        <span style="font-size: smaller; color: grey;">likes</span>
                                    {% endif %}
                                    <span style="font-size: small;">&bull;</span>
                                    <span style="font-size: smaller; color: grey;">{{ material.comments|length }}</span>
                                    {% if material.comments|length == 1 %}
                                        <span style="font-size: smaller; color: grey;">comment</span>
                                    {% else %}
                                        <span style="font-size: smaller; color: grey;">comments</span>
                                    {% endif %}
                                    <span style="font-size: small;">&bull;</span>
                                    <span style="font-size: smaller; color: grey;">{{ post_timestamp(material.date_posted) }}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            </span>
        </div>
        <br>
        <div class="announcement-bar-container"> 
            <div style="display: flex; align-items: center;">
                <h5>Upcoming meetings</h5>
            </div>
            <ul class="list-group">
                {% for meeting in upcoming_meetings %}
                    <li>
                        <div class="announcement-bar-entry">
                            <div class="announcement-bar-header">
                                <a href="{{ url_for('meetings.meeting', meeting_id=meeting.id) }}">{{ meeting.title | truncate(30, True, '')}}</a>                             
                            </div>
                            <div>
                                <span style="font-size: smaller; color: grey;">{{ meeting.start_date.strftime('%B %d') }} at {{ meeting.start_time }}</span>
                                <span style="font-size: small;">&bull;</span>
                                <span style="font-size: smaller; color: grey;">{{ meeting.going|length }}</span>
                                <span style="font-size: smaller; color: grey;">going</span>
                               
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <br>
    </div>
   
{% endblock announcement_bar %}

