<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body class="login-body">
    <div class="login-container">
        <div>
            Forgot your account’s password? Enter your email address and we’ll send you a recovery link.
        </div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.email.label }}
                <div class="login-form">
                    {% if form.email.errors %}
                    {{form.email(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.email(class="login-input")}}
                    {% endif %}
                    {{ form.submit(class="login-button") }}
                </div>
           
              
          
        </form>
    </div>
</body>
