

<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body class="login-body">
    <div class="login-container">
        <a href="{{ url_for('main.landing') }}">
            <img src="{{ url_for('static', filename='BIBIMHAK.png')}}" alt="Website Logo" class="login-logo">
        </a>
        <div> 
            Reset password
        </div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="login-form">
                {{ form.password.label(class="form-control-label") }}

                {% if form.password.errors %}
                {{form.password(class="login-input is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="login-input")}}
            {% endif %}
                
            </div>
    
            <div class="login-form">
                {{ form.confirm_password.label(class="form-control-label") }}
                
                {% if form.confirm_password.errors %}
                {{form.confirm_password(class="login-input is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password(class="login-input")}}
            {% endif %}
            
            </div>
            <div class="login-form">
                {{ form.submit(class="login-button") }}
            </div>
        </form>
    </div>
</body>
