{% extends "layout.html" %}

{% block content %}
    <h1>Search Results</h1>
    <h5>Posts</h5>
   
        {% for post in posts %}
            <div>
                {{ post.author.username }}
                {{ post.content }}
            </div>
        {% endfor %}
  
   
    <h5>Materials</h5>
        {% for material in materials %}
            <div>
                {{ material.creator.username }}
                {{ material.title }}
                {{ material.content }}
            </div> 
        {% endfor %}
   
    <h5>Comments</h5>
        {% for comment in comments %}
            <div>
                {{ comment.commenter.username }}
                {{ comment.content }}
            </div>
        {% endfor %}
  
    <h5>Meetings</h5>
        {% for meeting in meetings %}
            <div>
                {{ meeting.organizer.username }}
                {{ meeting.title }}
                {{ meeting.content }}
            </div>
        {% endfor %}
{% endblock content %}