{% extends "layout.html" %}

{% block content %}
    <nav class="materials-nav">
        <a href="{{ url_for('main.search', q=query, type='posts') }}">Posts</a>
        <a href="{{ url_for('main.search',  q=query, type='materials')}}">Materials</a>
        <a href="{{ url_for('main.search', q=query, type='questions')}}">Questions</a>
        <a href="{{ url_for('main.search', q=query, type='meetings')}}">Meetings</a>
        <a href="{{ url_for('main.search', q=query, type='users')}}">Users</a>
        <a href="{{ url_for('main.search', q=query, type='comments')}}">Comments</a>
    </nav>
    {% if results %}
        {% for result in results %}
            <div>
                {{ result.content}}
            </div>
        {% endfor %}
    {% else %}
        <div>
            No results matching that search
        </div>
    {% endif %}
{% endblock content %}  