{% extends "layout.html" %}
{% block content %}
    
<div class="user-page-container">
    <div class="user-page-profile-header">
        <img class="user-page-profile-image" src="{{ url_for('static', filename='pics/' + user.image_file)}}" alt="Profile Image">
        <div class="user-page-profile-info">
            <div class="user-page-user-bar">
                <h2 class="user-page-username">{{ user.username }}</h2>
              
                {% if current_user != user %}
                    <button class="user-page-follow-button">Follow</button>
                    <a href="{{ url_for('posts.inbox', user=user.id) }}">
                        <button class="user-page-message-button">Message</button>
                    </a>
                {% else %}
                    <a href="{{ url_for('users.account') }}">
                        <button class="user-page-message-button">Edit Profile</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="user-page-stats">
        <div class="user-page-stat">
            <h3 class="user-page-count">{{ user.karma }}</h3>
            <span class="user-page-label">Reputation</span>
        </div>
        <div class="user-page-stat">
            <h3 class="user-page-count">{{ followers_count }}</h3>
            <span class="user-page-label">Followers</span>
        </div>
        <div class="user-page-stat">
            <h3 class="user-page-count">{{ following_count}}</h3>
            <span class="user-page-label">Following</span>
        </div>
    </div>
    <div class="user-about">
        {% if user.about %}
            <p>{{ user.about }} </p>
        {% endif %}
    </div>
    <div class="user-filters">
        <a href="{{ url_for('users.user_profile', username=user.username, filter='posts')}}">
            Posts
        </a>
        <a href="{{ url_for('users.user_profile', username=user.username, filter='materials')}}">
            Materials
        </a>
        <a href="{{ url_for('users.user_profile', username=user.username, filter='meetings')}}">
            Meetings
        </a>
        <a href="{{ url_for('users.user_profile', username=user.username, filter='comments')}}">
            Comments
        </a>
    </div>
    <div class="user-content">
        {% if posts %}
            {% for post in posts %}
            <div>
                {{ post.content }}
            </div>
            {% endfor %}
        {% endif %}
    </div>

</div>
{% endblock content %}